<script>
  import Card from "./lib/Card.svelte";
  import Create from "./lib/Create.svelte";
  import Join from "./lib/Join.svelte";
  import JoinableGames from "./lib/JoinableGames.svelte";
  import Room from "./lib/Room.svelte";

  const wsUrl = `ws${location.protocol.slice(4)}//${location.host}/api`;
  let ws = new WebSocket(wsUrl);
</script>

<main>
  {#if ws.host}
    <Room bind:ws />
  {:else if ws.player}
    <Card bind:ws />
  {:else}
    <h1>Bingo</h1>

    <JoinableGames />
    <Join bind:ws />
    <Create bind:ws />
  {/if}
</main>
