<script>
    export let value;
</script>

<div class="bingo-ball">
    {#if (value)}
        <div class="outer-circle">
            <div class="inner-circle">
                { value}
            </div>
        </div>
    {/if}
</div>

<style>
.bingo-ball {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.outer-circle {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 72px;
}

</style>