<script>
  import Number from "./Number.svelte";
  export let ws;

  let bingoCard = [];
  let currentNumbers = [];

  async function getCard() {
    bingoCard = await (await fetch("/api/card")).json();
  }

  getCard();

  function sendState(number, state) {
    ws.send(
      JSON.stringify({ command: "numberState", number: number, state: state })
    );

    if (state == 'crossed' && number) {
      currentNumbers.push(number);
    } else {
      const index = currentNumbers.indexOf(number);
      if (index != -1) {
        currentNumbers.splice(index, 1);
      }
    }

  }

</script>

<div>
  <table>
    <tr>
      <th>B</th>
      <th>I</th>
      <th>N</th>
      <th>G</th>
      <th>O</th>
    </tr>

    {#each bingoCard as row}
      <tr>
        {#each row as number}
          <td><Number {sendState} {number} /></td>
        {/each}
      </tr>
    {/each}
  </table>

  <button on:click={() => ws.send(JSON.stringify({ command: "checkWin", numbers: currentNumbers }))} type="submit">
    Check win
  </button>
</div>
