<script>
    export let ws;

    function create() {
        ws.send(JSON.stringify({command: 'createRoom' }));
        ws.host = true;
    }

</script>

<input type="submit" on:click={create} value="Create Room" />