<script>
    let games = [];

    async function getGames() {
        games = await (await fetch(`/api/game/joinable`)).json()
    }

    getGames();

    // check for joinable games every 30 seconds
    setInterval(getGames, 30 * 1000)

</script>

{#if games.length > 0}
     <h3>
         Joinable Games
     </h3>
     <div class="games">
         {#each games as game}
                 <span>
                     { game.name }
                 </span>
         {/each}
     </div>
{/if}

<style>
    .games {
        border: 2px solid white;
        margin: 8px;
        padding: 8px;
        border-radius: 10px;
    }
</style>