<script>
    export let ws;
    let name = ''
    let key = ''


    ws.onmessage = (event) => {
        let data = JSON.parse(event.data);
        switch (data.command) {
            case 'joined':
                ws.player = true;
                updatePlayerNum();
                break;
        }
    }

    function updatePlayerNum() {
        fetch(`/api/game/join`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        game: key,
                        user: name
                    })
                });

    }

    function loginUser() {

        ws.send(JSON.stringify({command: 'join', 'name': name, 'key': key}));
    }

</script>
  
<div class="login">
    <label for="">Your name</label>
    <input type="text" bind:value={name}>

    <label for="">Join key</label>
    <input type="text" bind:value={key}>

    <input type="submit" on:click={loginUser} value="Join" >
</div>

<style>
    .login {
        display: flex;
        flex-direction: column;
    }

</style>