<script>
    let leaderBoard = [];
    getLeaderBoard();

    async function getLeaderBoard() {
        leaderBoard = await fetch('/api/leaderboard');
    }
//   WIP: should display leaderboard
  </script>
  
<div>
    <ul>
        {#each leaderBoard as place}
             <li> { place.name }  { place.wins }</li>

        {/each}
    </ul>
</div>
  