<script>
import { onMount } from 'svelte';

export let sendState;
export let number;

const size = 64;

let canvas;
let state = 'uncrossed';

let ctx;

function drawNumber() {
    ctx.textBaseline = 'middle'; 
    ctx.textAlign = 'center'; 

    if (number == undefined) {
        ctx.font = "16px serif";
        ctx.fillText('FREE', size / 2, size / 2);
    }
    else {
        ctx.font = "32px serif";
        ctx.fillText(number, size / 2, size / 2);
    }

}

onMount(() => {
    ctx = canvas.getContext('2d');
    drawNumber()
});

function checkNumber() {
    ctx.clearRect(0, 0, canvas.width, canvas.height)
    drawNumber();

    if (state == 'uncrossed') {
        ctx.beginPath();
        ctx.moveTo(0, 0);
        ctx.lineTo(canvas.width, canvas.height);
        ctx.stroke();


        ctx.beginPath();
        ctx.moveTo(canvas.width, 0);
        ctx.lineTo(0, canvas.height);
        ctx.stroke();

        state = 'crossed';

        }
        else {
            state = 'uncrossed';
        }

        sendState(number, state)
    }


    
</script>

<canvas on:click={checkNumber} bind:this={canvas} width={size} height={size} />

<style> 
    canvas {
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
    }
</style>