<script>
    import Ball from "./Ball.svelte";

    export let ws;

    let messages = [];
    let message;
    let number;
    let roomName;
    let gameStarted = false;

    setInterval(() => {
            message = messages.pop()
            message = message
        }, 5000);

    ws.onmessage = (event) => {
        let data = JSON.parse(event.data);
        console.log(data)
        switch (data.command) {
            case 'room':
                roomName = data.key;
                ws.host = roomName;
                break;

            case 'message':
                if (!messages.includes(data.message))
                {
                    messages = [...messages, data.message];
                }
                break;

            case 'newNumber':
                console.log('Changed number to ' + data.number)
                number = data.number;
                break;
        }
    }


    function startGame() {
        gameStarted = true;
        ws.send(JSON.stringify({command:'startGame'}));
    }    

</script>
<div class="room">
    <Ball value={number} />

    <div class="box">
        {#if (!gameStarted) }
            <span class="roomname">
                { roomName }
            </span>
        {/if}
        
        {#if (message)}
            <span class="message">
                { message }
            </span>
        {/if}

        {#if (!gameStarted)}
            <input on:click={startGame} type="submit" value="Start Game!"/>
        {/if}
    </div>

</div>


<style>
    .room {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span {
        margin-top: 16px;
        font-size: 32px;
    }
</style>